<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <%= form_for @course do |f| %>
        <div class="text-left">
        <% if @course.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@course.errors.count, "error") %> prohibited
              this course from being saved:
            </h2>
            <ul>
              <% @course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        </div>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Course Name *" %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control", placeholder: "Course Description" %>
        </div>

        <div class="form-group text-center styled-select">
          <%= f.label :category %>
          <%= f.collection_select :category, Course::CATEGORIES, :to_s, :to_s, class: "form-control" %>
        </div>

        <div class="form-group text-center styled-select">
          <%= f.label :grade %>
          <%= f.collection_select :grade, Course::GRADES, :to_s, :to_s, class: "form-control" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Submit", class: "btn btn-xl" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
</div>