<%= form_for @course do |f| %>

  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

   <p>
    <%= f.label :category %><br>
    <%= f.collection_select :category, Course::CATEGORIES, :capitalize, :capitalize %>
  </p>

   <p>
    <%= f.label :grade %><br>
    <%= f.collection_select :category, Course::GRADES, :to_s, :to_s %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

