<div class="brick">
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><%= @course.name %></h2>
                <h3 class="section-subheading text-muted"> </h3>
            </div>
        </div>

        <ul class="tabs">
            <li class="selected"><a href="#view1">Info</a></li>
            <li><a href="#view2">Videos</a></li>
            <li><a href="#view3">Documents</a></li>
        </ul>
        <div class="tabcontents">
            <div id="view1">
                <div class="row">
                	<div class="col-md-1">
                	</div>
                	<div class="col-md-10">
                		<h2 class="section-subheading">Course Info</h2>
                        <br>
                		<p class="course"><strong>Category: </strong> <%= @course.category %></p>
                		<p class="course"><strong>Grade: </strong> <%= @course.grade %></p>
                		<p class="course"><strong>Description: </strong><%= @course.description %></p>

                        <% if can_edit_course? %>
                            <%= link_to 'Edit', edit_course_path(@course) %>
                        <% end %>

                        <% if can_delete_course? %>
                            | <%= link_to 'Delete', course_path(@course), method: :delete, data: { confirm: 'Are you sure you want to delete this course?' } %>
                        <% end %>
                	</div>
                	<div class="col-md-1">
                	</div>
                </div>
            </div>
            <div id="view2">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                	<h2 class="section-subheading">Course Videos</h2>

                	<% if can_create_resource? %>
                		<%= button_to 'New', new_course_video_path(@course, @video), method: :get, class: "btn btn-primary" %>
                	<% end %>

                	<br>

                	<% if @course.videos.any? %>
                		<%= render @course.videos %>
                	<% else %>	
                		<p class="course">This course has no videos.</p>
                	<% end %>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <div id="view3">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                	<h2 class="section-subheading">Course Documents</h2>

                    <% if can_create_resource? %>
                        <%= button_to 'New', new_course_document_path(@course, @document), method: :get, class: "btn btn-primary" %>
                    <% end %>

                    <br>

                    <% if @course.documents.any? %>
                        <%= render @course.documents %>
                    <% else %>  
                        <p class="course">This course has no documents.</p>
                    <% end %>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <%= link_to 'Back', courses_path %>
    </div>
</section>
</div>
