<h1><%= @course.name %></h1>

<p>Category: <%= @course.category %></p>
<p>Grade: <%= @course.grade %></p>

<p><%= @course.description %></p>

<%= link_to 'Back', courses_path %>

<% if can_edit? %>
	| <%= link_to 'Edit', edit_course_path(@course) %>
<% end %>

<% if can_delete? %>
	| <%= link_to 'Delete', course_path(@course), method: :delete, data: { confirm: 'Are you sure you want to delete this course?' } %>
<% end %>
