<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Funda Nathi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700|Londrina+Outline" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'layouts/nav' %>

    <%= yield %>

    <%= render 'layouts/foot' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>